.table-row-actions {
    width: 1%;
}

.formula-display {
    background-color: #F3F3F3;
    margin: 10px 10px 0;
}

.result-display {
    text-align: center;
    font-weight: bold;
}

.evaluation-parameter {
    margin-bottom: 6px;
}

.evaluation-parameter label {
    margin: 0;
    display: block;
    text-align: right;
    font-size: 15px;
}
