body {
    padding: 20px 0;
}

h1 {
    font-size: 1.5rem;
}

.inline-control-group .form-control {
    margin-left: 8px;
    width: 80px;
    display: inline-block;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    margin-right: -5px;
    margin-left: 2px;
}

.cursor-pointer {
    cursor: pointer;
}
