.app-section {
    margin-bottom: 1.5rem;
}

.table-row-actions {
    width: 1%;
}

.parameter-extra {
    margin-top: 16px;
}

.empty-table-message {
    font-size: 18px;
}

.data-display {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 12px;

    text-align: center;
    font-weight: bold;
    color: #333;
}

.result-display {
    word-wrap: break-word;
}

.url-display {
    margin: 1rem 0;
    padding: 4px 8px;
}

.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.formula-display {
    margin: 1.5rem 0;
}

.evaluation-parameter {
    margin-bottom: 6px;
}

.evaluation-parameter label {
    margin: 0;
    display: block;
    text-align: right;
    font-size: 14px;
}

.evaluation-parameter input {
    text-align: right;
}
